$light-green-color: #55efc4;
$green-color: #00b894;
$light-red-color: #ff7675;
$red-color: #d63031;

$light-blue-color: #74b9ff;
$blue-color: #0984e3;

$white-color: #dfe6e9;
$light-grey-color: #b2bec3;
$grey-color: #636e72;
$black-color: #2d3436;