.detail-screen {
  .rotten-tomatoes {
    img {
      width: 100%;
    }
    .rating, .genres, .directors, .authors, .production-company {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}