.actors {
  text-align: center;
  cursor: pointer;
  .actors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    .actor {
      width: 25%;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 30vw;
        max-height: 200px;
        object-fit: cover;
      }
    }

    .actor:hover{
      opacity: 0.90;
    }

    .actor:nth-of-type(n+5){
      margin-top: 10px;
    }
  }
}