.autocomplete {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .suggestions {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 10px;
  }
}